footer {
  align-self: center;
  max-width: 1300px;
  width: 100%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-image: url(./../../src/assets/body-bgrd.jpg);
  border-radius: 25px;
  padding: 10px;
}

.footer__git-logo,
.footer__rss-logo {
  width: 4.5rem;
  height: 4.5rem;
  background-size: cover;
}

.footer__git-logo {
  border-radius: 50%;
  background-image: url("./../assets/git-logo.png");
}

.footer__rss-logo {
  background-image: url("./../assets/rss-logo.svg");
}

footer span {
  font-size: 5rem;
  color: #efea66;
  font-weight: 900;
}
